.padding-2
  .row
    .col-lg-4
      .panel.padding-1
        #left_side
          = @total_items_count
          %ul.nav.nav-pills.nav-stacked
            - @sections.each do |section|
              %li.active
                = link_to section.name, course_learning_path(@course, section.items.order(position: :asc)[0].id)
            %li.red
              = link_to "Проверочный экзамен"
    .col-lg-8
      .slide-sample
        .panel.headings.padding-1
          %h3#item_section_name= @current_item.section.name
          %h4#item_name= @current_item.itemable.try(:name) || "Проверочный вопрос"
        .panel.padding-1
          .content.cke_textarea_inline{style: "padding-bottom: 30px"}
            - if @current_item.itemable_type == 'Slide'
              = @current_item.itemable.content.html_safe
            - else
              = @current_item.itemable.question.html_safe
              .answers{class: flash['answered'].present? && (flash['correct'].present? ? "correct" : "incorrect" )}
                %p.blue Ответы
                - if flash['answered'].present?
                  %p.blue= flash['correct'].present? ? "Верно!" : "Неправильно"
                = form_tag course_learning_path(@course.id, @current_item) do
                  - case @current_item.itemable.question_type
                  - when 0
                    -  @current_item.itemable.answers.each do |answer|
                      %p
                        = radio_button_tag :answer, answer["text"], nil, disabled: flash['answered'].present?
                        %span= answer["text"]
                  - when 1
                    -  @current_item.itemable.answers.each do |answer|
                      %p
                        = check_box_tag "answer[]", answer["text"], nil, disabled: flash['answered'].present?
                        %span= answer["text"]
                  - when 2
                    %p
                      = text_field_tag :answer, nil, class: "form-control", disabled: flash['answered'].present?
                  - when 3
                    %p
                      - answers = @current_item.itemable.answers.shuffle
                      = hidden_field_tag :answer, answers.map{|a| a["query"] }.join('|')
                      %ul#query_answers.sortable
                        - answers.each do |answer|
                          %li{id: answer["query"]}
                            = answer["query"]
                  - when 4
                    %p
                      - answers = @current_item.itemable.answers
                      - left = answers.map{|a| a["left"] }
                      - right = answers.map{|a| a["right"] }.shuffle
                      = hidden_field_tag :answer, right.join('|')
                      .row
                        .col-lg-6
                          %ul.sortable
                            - left.each do |left|
                              %li= left
                        .col-lg-6
                          %ul#equality_answers.sortable
                            - right.each do |right|
                              %li{id: right}
                                = icon('bars')
                                = right


                   

                  = submit_tag "Принять ответ", class: "btn btn-success", disabled: flash['answered'].present?
          .footer
            .row
              .col-lg-2
                - if @previous_item
                  = link_to course_learning_path(@course.id, @previous_item) do
                    = icon('chevron-left', nil, class: "fa-2x")
                - else
                  = icon('chevron-left', nil, class: "fa-2x text-muted")
              .col-lg-8
                %center
                  - @counter_items.each_with_index do |item, i|
                    = link_to course_learning_path(@course.id, item.id) do
                      - if item.itemable_type == 'Slide'
                        %span.label{class: item.id == @current_item.id ? "label-primary" : "label-success"}= i+1
                      - else
                        %span.label{class: item.id == @current_item.id ? "label-primary" : "label-danger"} ?
                  
              .col-lg-2.text-right
                - if @next_item
                  = link_to course_learning_path(@course.id, @next_item) do
                    = icon('chevron-right', nil, class: "fa-2x")
                - else
                  = icon('chevron-right', nil, class: "fa-2x text-muted")
