= bootstrap_form_for [:admin, @resource], layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9", label_errors: true, validate: true do |f|
  = f.alert_message "Сохранение не удалось из-за следующих ошибок:"
  .well
    = f.fields_for :item do |ff|
      = ff.text_field :name
      = ff.number_field :position
      = ff.form_group label: { text: "Раздел" } do
        Текущий раздел:
        = @resource.item.section.present? ? @resource.item.section.name : "Корневой раздел"
        = ff.hidden_field :section_id, id: "slide_item_sttributes_section_id_hidden"

        %table#selectSlideItemSectionTree.table.table-hover.table-striped
          %colgroup
            %col{width: "100px"}
            %col{width: "*"}
          %thead
            %tr
              %th ID
              %th Раздел
          %tbody
  .well
    = f.text_field :name
    = f.form_group label: { text: "Содержание" } do
      .slide-sample
        .panel.headings
          %h3#item_section_name= @resource.item.section.present? ? @resource.item.section.name : "Выберите раздел"
          %h4#item_name= @resource.name.present? ? @resource.name : "Введите имя слайда"
        .panel
          - if action_name == "new"
            .content= f.text_area_without_bootstrap :content, value: "<h1>Нажмите для редактирования</h1>"
          - else
            .content= f.text_area_without_bootstrap :content
          .footer
            .row
              .col-lg-2
                = icon('chevron-left', nil, class: "fa-2x")
              .col-lg-8
                %center
                  %span.label.label-success 1
                  %span.label.label-success 2
                  %span.label.label-success 3
                  %span.label.label-primary 4
                  %span.label.label-success 5
                  %span.label.label-success 6
                  %span.label.label-danger ?
                  %span.label.label-success 8
                  %span.label.label-success 9
                  %span.label.label-danger ?
              .col-lg-2.text-right
                = icon('chevron-right', nil, class: "fa-2x")

      %br
      %p.text-sm.text-muted
        * Подсказка:
        %br
        %span.label.label-success 1
        \- Слайд с информацией
        %br
        %span.label.label-danger ?
        \- Слайд с вопросом
        %br
        %span.label.label-primary 4
        \- Текущий слайд

  = f.submit class: "btn btn-primary btn-flat"