%section.content-header
  %h1
    = icon('image')
    Слайды/Вопросы
    %small Элементарные экраны информации
  %ol.breadcrumb
    %li
      = link_to admin_root_path do
        %i.fa.fa-dashboard
        Панель управления
    %li.active Слайды/Вопросы
%section.content
  = render partial: "partials/alerts"
  .box.box-primary
    .box-body
      %p
        = link_to icon("plus", "Создать слайд"), new_admin_slide_path, class: "btn btn-primary btn-lg btn-flat"
        = link_to icon("plus", "Создать вопрос"), new_admin_question_path, class: "btn btn-primary btn-lg btn-flat"
      %table.table.table-bordered.table-striped#itemsTable{data: {source: admin_items_path(format: :json)}}
        %thead
          %tr
            %th ID
            %th Тип
            %th Техническое название
            %th Положение
            %th Позиция
            %th Действия