.container
  .row
    .col-lg-12
      = render "partials/top_menu"
      = render "partials/top_alerts"

  .row
    .col-sm-12.col-md-6.col-md-offset-3
      .panel.panel-default
        .padding-2
          %center
            %h1 Приморский морской УТЦ
            %br/
            %h2 Редактирование профиля
          %br/
          = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, data: { toggle: "validator" }, role: "form" }) do |f|
            = devise_error_messages!("Профиль не изменен!")
            .row
              .col-md-6.col-xs-12
                .form-group.has-feedback
                  = f.label :name
                  = f.text_field :name, class: "form-control", placeholder: "Ф.И.О.", required: true
                  .help-block.with-errors
                .form-group.has-feedback
                  = f.label :telephone
                  = f.text_field :telephone, class: "form-control", placeholder: "Телефон", required: true
                  .help-block.with-errors
                .form-group.has-feedback
                  = f.label :city
                  = f.text_field :city, class: "form-control", placeholder: "Город", required: true
                  .help-block.with-errors
                .form-group.has-feedback
                  = f.label :address
                  = f.text_field :address, class: "form-control", placeholder: "Адрес", required: true
                  .help-block.with-errors
              .col-md-6.col-xs-12
                .form-group.has-feedback
                  = f.label :password
                  = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Новый пароль", data: { minlength: "8", "minlength-error" => "Минимум 8 символов" }
                  .help-block.with-errors Оставьте пустым, если не хотите менять
                .form-group.has-feedback
                  = f.label :password_confirmation
                  = f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Подтверждение пароля", data: { match: "#user_password", "match-error" => "Пароли не совпадают" }
                  .help-block.with-errors
                .form-group.has-feedback
                  = f.label :current_password
                  = f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Текущий пароль", required: true
                  .help-block.with-errors Введите пароль для сохранения изменений
               
            .row
              .col-md-6.col-md-offset-3
                = f.submit "Отредактировать", class: "btn btn-block btn-primary"