.outer
  .middle
    .inner
      .container
        .row
          .col-sm-12.col-md-6.col-md-offset-3
            .panel.panel-default
              .padding-2
                %center
                  %h1 Приморский морской УТЦ
                  %br/
                  %h2 Регистрация
                %br/
                = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { data: { toggle: "validator" }, role: "form" }) do |f|
                  - if alert
                    .row
                      .col-md-6.col-md-offset-3  
                        .alert.alert-danger.fade.in.alert-dismissable
                          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
                          = alert
                  - if notice
                    .row
                      .col-md-6.col-md-offset-3  
                        .alert.alert-success.fade.in.alert-dismissable
                          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
                          = notice
                  = devise_error_messages!
                  .row
                    .col-md-6.col-xs-12
                      .form-group.has-feedback
                        = f.email_field :email, autofocus: true, class: "form-control", placeholder: "E-mail", required: true
                        .help-block.with-errors
                      .form-group.has-feedback
                        = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Пароль", required: true, data: { minlength: "8", "minlength-error" => "Минимум 8 символов" }
                        .help-block.with-errors Минимум 8 символов
                      .form-group.has-feedback
                        = f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Подтверждение пароля", required: true, data: { match: "#user_password", "match-error" => "Пароли не совпадают" }
                        .help-block.with-errors
                    .col-md-6.col-xs-12
                      .form-group.has-feedback
                        = f.text_field :first_name, class: "form-control", placeholder: "Имя", required: true
                        .help-block.with-errors
                      .form-group.has-feedback
                        = f.text_field :father_name, class: "form-control", placeholder: "Отчество", required: true
                        .help-block.with-errors
                      .form-group.has-feedback
                        = f.text_field :family_name, class: "form-control", placeholder: "Фамилия", required: true
                        .help-block.with-errors
                      .form-group.has-feedback
                        = f.text_field :telephone, class: "form-control", placeholder: "Телефон", required: true
                        .help-block.with-errors
                      .form-group.has-feedback
                        = f.text_field :birthday, class: "form-control datepicker", placeholder: "Дата рождения", required: true
                        .help-block.with-errors
                      .form-group.has-feedback
                        = f.check_box :personal_data_agreement, required: true
                        %span.text-sm Я согласен на обработку моих персональных данных
                        .help-block.with-errors
                     
                  .row
                    .col-md-6.col-md-offset-3
                      = f.submit "Регистрация", class: "btn btn-block btn-primary"
                  .row
                    .col-md-6.col-md-offset-3
                      %br/
                      = render "devise/shared/links"