- if alert
  .row
    .col-xs-12  
      .alert.alert-danger.fade.in.alert-dismissable
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
        = alert
- if notice
  .row
    .col-xs-12
      .alert.alert-success.fade.in.alert-dismissable
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
        = notice