= bootstrap_form_for [:admin, @resource], layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9", label_errors: true, validate: true do |f|
  = f.alert_message "Сохранение не удалось из-за следующих ошибок:"
  .well
    = f.text_field :name
    = f.text_area :description
    = f.form_group label: { text: "Родительский раздел" } do
      Текущий раздел:
      = @resource.parent_id ? @resource.name : "Корневой раздел"
      = f.hidden_field :parent_id, id: "section_parent_id_hidden"
      = f.radio_button :parent_id, "", checked: action_name == 'new' || @resource.parent_id == nil
      = f.label :parent_id, "Корневой раздел"
      %table#selectSectionTree.table.table-hover.table-striped
        %colgroup
          %col{width: "100px"}
          %col{width: "*"}
        %thead
          %tr
            %th ID
            %th Раздел
        %tbody
    = f.collection_check_boxes :course_ids, Course.all, :id, :name
  = f.submit class: "btn btn-primary btn-flat"