%section.content-header
  %h1
    = icon('folder-open')
    Разделы
    %small Отдельные главы курса обучения
  %ol.breadcrumb
    %li
      = link_to admin_root_path do
        %i.fa.fa-dashboard
        Панель управления
    %li.active Разделы
%section.content
  = render partial: "partials/alerts"
  /
    .box.box-primary
      .box-body
        %p= link_to icon("plus", "Создать раздел"), new_admin_section_path, class: "btn btn-primary btn-lg btn-flat"
        %table.table.table-bordered.table-striped#sectionsTable{data: {source: admin_sections_path(format: :json)}}
          %thead
            %tr
              %th ID
              %th Название
              %th Описание
              %th Действия

  .box.box-primary
    .box-body
      %p= link_to icon("plus", "Создать раздел"), new_admin_section_path, class: "btn btn-primary btn-lg btn-flat"
      %table#sectionsTree.table.table-hover.table-striped
        %colgroup
          %col{width: "30px"}
          %col{width: "*"}
          %col{width: "400px"}
          %col{width: "100px"}
        %thead
          %tr
            %th ID
            %th Название
            %th Описание
            %th Действия
        %tbody