.outer
  .middle
    .inner
      .container
        .row
          .col-sm-12.col-md-6.col-md-offset-3
            .panel.panel-default
              .padding-2
                %center
                  %h1 Приморский морской УТЦ
                  %br/
                  %h2 Смена пароля
                %br/
                = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, data: { toggle: "validator" }, role: "form" }) do |f|
                  - if alert
                    .row
                      .col-md-6.col-md-offset-3  
                        .alert.alert-danger.fade.in.alert-dismissable
                          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
                          = alert
                  - if notice
                    .row
                      .col-md-6.col-md-offset-3  
                        .alert.alert-success.fade.in.alert-dismissable
                          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
                          = notice
                  = devise_error_messages!
                  = f.hidden_field :reset_password_token
                  .row
                    .col-md-6.col-md-offset-3
                      .form-group.has-feedback
                        = f.password_field :password, autofocus: true, class: "form-control", placeholder: "Новый пароль", required: true, data: { minlength: "8", "minlength-error" => "Минимум 8 символов" }
                        .help-block.with-errors Минимум 8 символов
                  .row
                    .col-md-6.col-md-offset-3
                      .form-group.has-feedback
                        = f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Подтверждение пароля", required: true, data: { match: "#user_password", "match-error" => "Пароли не совпадают" }
                        .help-block.with-errors
                  .row
                    .col-md-6.col-md-offset-3
                      = f.submit "Изменить пароль", class: "btn btn-block btn-primary"
                  .row
                    .col-md-6.col-md-offset-3
                      %br/
                      = render "devise/shared/links"