.outer
  .middle
    .inner
      .container
        .row
          .col-sm-12.col-md-6.col-md-offset-3
            .panel.panel-default
              .padding-2
                %center
                  %h1 Приморский морской УТЦ
                  %br/
                  %h2 Забыли пароль?
                %br/
                = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, data: { toggle: "validator" }, role: "form" }) do |f|
                  - if alert
                    .row
                      .col-md-6.col-md-offset-3  
                        .alert.alert-danger.fade.in.alert-dismissable
                          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
                          = alert
                  - if notice
                    .row
                      .col-md-6.col-md-offset-3  
                        .alert.alert-success.fade.in.alert-dismissable
                          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
                          = notice
                  = devise_error_messages!
                  .row
                    .col-md-6.col-md-offset-3
                      .form-group.has-feedback
                        = f.email_field :email, autofocus: true, class: "form-control", placeholder: "E-mail", required: true
                        .help-block.with-errors
                  .row
                    .col-md-6.col-md-offset-3
                      = f.submit "Отправить письмо с ключем", class: "btn btn-block btn-primary"
                  .row
                    .col-md-6.col-md-offset-3
                      %br/
                      = render "devise/shared/links"