= bootstrap_form_for [:admin, @resource], layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9", label_errors: true, validate: true do |f|
  = f.alert_message "Сохранение не удалось из-за следующих ошибок:"
  .well
    = f.email_field :email
    = f.password_field :password
    = f.password_field :password_confirmation
  = f.submit class: "btn btn-primary btn-flat"