%section.content-header
  %h1
    = icon('gear')
    Администраторы
    %small Пользователи, управляющие системой
  %ol.breadcrumb
    %li
      = link_to admin_root_path do
        %i.fa.fa-dashboard
        Панель управления
    %li.active Администраторы
%section.content
  = render partial: "partials/alerts"
  .box.box-primary
    .box-body
      %p= link_to icon("plus", "Создать администратора"), new_admin_admin_user_path, class: "btn btn-primary btn-lg btn-flat"
      %table.table.table-bordered.table-striped#adminUsersTable{data: {source: admin_admin_users_path(format: :json)}}
        %thead
          %tr
            %th ID
            %th E-mail
            %th Действия