.slide-sample
  width: 100% 
  background: #555148 image-url("login-bg.jpg") no-repeat top center
  padding: 25px

  .panel
    background: linear-gradient(to bottom, white, #cfcfcf)
    border: 1px solid transparent
    border-radius: 0
    @include box-shadow(0px 1px 2px rgba(0,0,0,0.5))
    color: #333333
    position: relative
    padding: 30px 80px
    padding-bottom: 80px

    &.headings
      padding: 15px

      h4, h3
        font-family: 'Noto Serif' !important
        margin: 0
        padding: 0

      h3
        margin-bottom: 15px

      h4
        padding-left: 15px


    .content
      min-height: 400px
      padding: 0


    .answers
      border: 1px solid transparent
      border-radius: 0
      @include box-shadow(0px 1px 2px rgba(0,0,0,0.5))
      color: #333333
      position: relative
      margin-top: 30px
      padding: 15px
      padding-bottom: 60px

      p.blue
        color: #1565c0
        font-size: 20px

    
    .cke_textarea_inline *
      font-family: 'Noto Serif'

    .placeholder
      text-align: center
      color: #666666

    .footer
      position: absolute
      bottom: 0
      background: #eeeeee
      border-top: 1px solid #aaaaaa
      display: block
      width: 100%
      padding: 15px
      left: 0