= bootstrap_form_for [:admin, @resource], layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9", label_errors: true, validate: true do |f|
  = f.alert_message "Сохранение не удалось из-за следующих ошибок:"
  .well
    = f.fields_for :item do |ff|
      = ff.text_field :name
      = ff.number_field :position
      = ff.form_group label: { text: "Раздел" } do
        Текущий раздел:
        = @resource.item.section.present? ? @resource.item.section.name : "Корневой раздел"
        = ff.hidden_field :section_id, id: "question_item_sttributes_section_id_hidden"

        %table#selectQuestionItemSectionTree.table.table-hover.table-striped
          %colgroup
            %col{width: "100px"}
            %col{width: "*"}
          %thead
            %tr
              %th ID
              %th Раздел
          %tbody
  .well
    = f.form_group label: { text: "Вопрос" } do
      .slide-sample
        .panel.headings
          %h3#item_section_name= @resource.item.section.present? ? @resource.item.section.name : "Выберите раздел"
          %h4#item_name Проверочный вопрос
        .panel
          - if action_name == "new"
            .content= f.text_area_without_bootstrap :question, value: "<h1>Нажмите для редактирования</h1>"
          - else
            .content= f.text_area_without_bootstrap :question
          .answers
            %p.blue Ответы
          .footer
            .row
              .col-lg-2
                = icon('chevron-left', nil, class: "fa-2x")
              .col-lg-8
                %center
                  %span.label.label-success 1
                  %span.label.label-success 2
                  %span.label.label-success 3
                  %span.label.label-success 4
                  %span.label.label-success 5
                  %span.label.label-success 6
                  %span.label.label-primary ?
                  %span.label.label-success 8
                  %span.label.label-success 9
                  %span.label.label-danger ?
              .col-lg-2.text-right
                = icon('chevron-right', nil, class: "fa-2x")

      %br
      %p.text-sm.text-muted
        * Подсказка:
        %br
        %span.label.label-success 1
        \- Слайд с информацией
        %br
        %span.label.label-danger ?
        \- Слайд с вопросом
        %br
        %span.label.label-primary 4
        \- Текущий слайд
    = f.select :question_type, Question::QUESTION_TYPES.map.with_index{|item, index| [item, index]}
    = f.form_group label: { text: "Ответы" } do
      %table.table.table-bordered.table-striped#answers
        - if action_name == "new"
          %tr
            %td{colspan: 3}
              %p.text-sm.text-muted
                Введите варианты ответов и выберите 
                %strong ОДИН
                верный вариант. Во время теста вопросы будут перемешаны автоматически.
          %tr
            %td
              %input.form-control{:type => "text", name: "question[answers][][text]", placeholder: "Введите вариант ответа"}
            %td
              %input{:type => "radio", name: "question[answers][][correct]"}
              %span Это верный ответ
            %td
              %a.btn.btn-danger.btn-xs.removeRow{href: "#"} Удалить ответ
          %tr#addBtnRow
            %td
              %a.btn.btn-info.btn-xs.addRow{href: "#"} Добавить строку
        - else
          %tr
            - case @resource.question_type
            - when 0
              %td{colspan: 3}
                %p.text-sm.text-muted
                  Введите варианты ответов и выберите 
                  %strong ОДИН
                  верный вариант. Во время теста вопросы будут перемешаны автоматически.
            - when 1
              %td{colspan: 3}
                %p.text-sm.text-muted
                  Введите варианты ответов и выберите 
                  %strong НЕСКОЛЬКО
                  верных вариантов. Во время теста вопросы будут перемешаны автоматически.
            - when 2
              %td
                %p.text-sm.text-muted
                  Введите 
                  %strong ВЕРНЫЙ ВАРИАНТ ОТВЕТА.
                  Регистр букв не имеет значения.
                  %br
                  Постарайтесь описать ответ одним словом или цифрой. В противном случае, испытуемый рискует ввести неверный с точки зрения системы ответ.
            - when 3
              %td{colspan: 2}
                %p.text-sm.text-muted
                  Введите варианты ответов
                  %strong В ПРАВИЛЬНОМ ПОРЯДКЕ.
                  Во время теста ответы будут перемешаны автоматически.
            - when 4
              %td{colspan: 3}
                %p.text-sm.text-muted
                  Введите варианты ответов
                  %strong В ПРАВИЛЬНОМ СООТВЕТСТВИИ ДРУГ ДРУГУ.
                  Во время теста ответы будут перемешаны автоматически.
          - case @resource.question_type
          - when 0
            - @resource.answers.each do |answer|
              %tr
                %td
                  %input.form-control{:type => "text", name: "question[answers][][text]", placeholder: "Введите вариант ответа", value: answer["text"]}
                %td
                  %input{:type => "radio", name: "question[answers][][correct]", checked: answer["correct"]}
                  %span Это верный ответ
                %td
                  %a.btn.btn-danger.btn-xs.removeRow{href: "#"} Удалить ответ
          - when 1
            - @resource.answers.each do |answer|
              %tr
                %td
                  %input.form-control{:type => "text", name: "question[answers][][text]", placeholder: "Введите вариант ответа", value: answer["text"]}
                %td
                  %input{:type => "checkbox", name: "question[answers][][correct]", checked: answer["correct"]}
                  %span Это верный ответ
                %td
                  %a.btn.btn-danger.btn-xs.removeRow{href: "#"} Удалить ответ
          - when 2
            - @resource.answers.each do |answer|
              %tr
                %td
                  %input.form-control{:type => "text", name: "question[answers][answer]", placeholder: "Введите правильный ответ", value: answer[1]}
          - when 3
            - @resource.answers.each do |answer|
              %tr
                %td
                  %input.form-control{:type => "text", name: "question[answers][][query]", placeholder: "Введите ответ", value: answer["query"]}
                %td
                  %a.btn.btn-danger.btn-xs.removeRow{href: "#"} Удалить ответ
          - when 4
            - @resource.answers.each do |answer|
              %tr
                %td
                  %input.form-control{:type => "text", name: "question[answers][][left]", placeholder: "Введите левую сторону соответствия", value: answer["left"]}
                %td
                  %input.form-control{:type => "text", name: "question[answers][][right]", placeholder: "Введите правую сторону соответствия", value: answer["right"]}
                %td
                  %a.btn.btn-danger.btn-xs.removeRow{href: "#"} Удалить ответ
        

  = f.submit class: "btn btn-primary btn-flat"