%section.content-header
  %h1
    Вопрос
    = "##{@resource.item.id}"
    %small Просмотр
  %ol.breadcrumb
    %li
      = link_to admin_root_path do
        %i.fa.fa-dashboard
        Панель управления
    %li
      = link_to polymorphic_path([:admin, Item]) do
        = @resource.model_name.human(count: 1.1)
    %li.active= "##{@resource.item.id}"
%section.content
  = render "partials/alerts"
  .box.box-primary
    .box-body
      %table.table.table-bordered.table-striped{style: "width: 100%"}
        %tr
          %td{style: "width: 25%"} ID
          %td
            = @resource.item.id
        %tr
          %td{style: "width: 25%"} Техническое имя
          %td
            = @resource.item.name
        %tr
          %td{style: "width: 25%"} Курсы и раздел
          %td
            = @resource.item.section.courses.present? ? @resource.item.section.courses.map{|c| "#{c.try(:name)} <i class='fa fa-angle-right'></i> #{@resource.item.section.name}".html_safe}.join("<br />") : @resource.item.section.name
        %tr
          %td{style: "width: 25%"} Позиция
          %td
            = @resource.item.position
        %tr
          %td{style: "width: 25%"} Вопрос
          %td
            .slide-sample
              .panel.headings
                %h3= @resource.item.section.name
                %h4 Проверочный вопрос
              .panel
                .content.cke_textarea_inline= @resource.question.html_safe
                .footer
                  .row
                    .col-lg-2
                      = icon('chevron-left', nil, class: "fa-2x")
                    .col-lg-8
                      %center
                        %span.label.label-success 1
                        %span.label.label-success 2
                        %span.label.label-success 3
                        %span.label.label-primary 4
                        %span.label.label-success 5
                        %span.label.label-success 6
                        %span.label.label-danger ?
                        %span.label.label-success 8
                        %span.label.label-success 9
                        %span.label.label-danger ?
                    .col-lg-2.text-right
                      = icon('chevron-right', nil, class: "fa-2x")
        %tr
          %td{style: "width: 25%"} Тип ответов
          %td
            = Question::QUESTION_TYPES[@resource.question_type]
        %tr
          %td{style: "width: 25%"} Ответы
          %td
            - case @resource.question_type
            - when 0
              %table.table.table-bordered.table-striped
                - @resource.answers.each do |answer|
                  %tr
                    %td= answer["text"]
                    %td= answer["correct"] ? icon("dot-circle-o") : icon("circle-o")
            - when 1
              %table.table.table-bordered.table-striped
                - @resource.answers.each do |answer|
                  %tr
                    %td= answer["text"]
                    %td= answer["correct"] ? icon("check-square-o") : icon("square-o")
            - when 2
              %table.table.table-bordered.table-striped
                %tr
                  %td= @resource.answers["answer"].mb_chars.upcase
            - when 3
              %table.table.table-bordered.table-striped
                - @resource.answers.each do |answer|
                  %tr
                    %td= answer["query"]
            - when 4
              %table.table.table-bordered.table-striped
                - @resource.answers.each do |answer|
                  %tr
                    %td= answer["left"]
                    %td= answer["right"]
        %tr
          %td{style: "width: 25%"} Создан
          %td
            = @resource.created_at
        %tr
          %td{style: "width: 25%"} Обновлен
          %td
            = @resource.updated_at
      %br
      %p
        = link_to "Редактировать", edit_admin_question_path(@resource.id), class: "btn btn-warning"
        = link_to "Удалить", admin_item_path(@resource.item.id), data: { method: :delete, confirm: "Вы уверены?" }, class: "btn btn-danger"