.outer
  .middle
    .inner
      .container
        .row
          .col-sm-12.col-md-6.col-md-offset-3
            .panel.panel-default
              .padding-2
                %center
                  %h1 Приморский морской УТЦ
                  %br/
                  %h2 Вход
                %br/
                = form_for(resource, as: resource_name, url: session_path(resource_name), html: { data: { toggle: "validator" }, role: "form" }) do |f|
                  - if alert
                    .row
                      .col-md-6.col-md-offset-3  
                        .alert.alert-danger.fade.in.alert-dismissable
                          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
                          = alert
                  - if notice
                    .row
                      .col-md-6.col-md-offset-3  
                        .alert.alert-success.fade.in.alert-dismissable
                          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
                          = notice
                  .row
                    .col-md-6.col-md-offset-3
                      .form-group.has-feedback
                        = f.email_field :email, autofocus: true, class: "form-control ", placeholder: "E-mail", required: true
                        .help-block.with-errors
                  .row
                    .col-md-6.col-md-offset-3
                      .form-group.has-feedback
                        = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Пароль", required: true
                        .help-block.with-errors
                  - if devise_mapping.rememberable?
                    .row
                      .col-md-6.col-md-offset-3
                        %center
                          .checkbox.checkbox-primary
                            = f.check_box :remember_me
                            = f.label :remember_me, "Запомнить меня"
                  .row
                    .col-md-6.col-md-offset-3
                      = f.submit "Вход", class: "btn btn-block btn-primary"
                  .row
                    .col-md-6.col-md-offset-3
                      %br/
                      = render "devise/shared/links"
        