= link_to icon('eye'), polymorphic_path([:admin,  record]), class: "btn btn-xs btn-info btn-flat", title: "Просмотр"
= link_to icon('pencil'), edit_polymorphic_path([:admin,  record]), class: "btn btn-xs btn-warning btn-flat", title: "Редактировать"
= link_to icon('trash'), polymorphic_path([:admin,  record]), class: "btn btn-xs btn-danger btn-flat", title: "Удалить", data: {confirm: "Вы уверены?", method: :delete}