%h3= @user_course.course.name
%h5= @user_course.course.description
%h4 Содержание курса:
%ul
  - @sections.present? && @sections.each do |section|
    %li= section.name
    - if section.has_children?
      %ul
        - section.children.each do |ss|
          %li= ss.name
          - if ss.has_children?
            %ul
              - ss.children.each do |sss|
                %li= sss.name
.pull-right
  = link_to "Начать курс", course_learning_path(@user_course.id, @user_course.course.sections.first.items.order(position: :asc)[0].id), class: "btn btn-lg btn-primary"
.clearfix