.padding-2
  .row
    .col-lg-4
      .panel.padding-1
        #left_side
          %h3 Мои программы обучения
          - @user_courses.each do |course|
            = link_to course_path(course), remote: true, class: "btn btn-block btn-default" do
              %h4.text-left= course.course.name
              %p.text-left= course.course.description
    .col-lg-8
      .panel.padding-2
        #course_description
          %h1
            Добро пожаловать в онлайн-центр
            %br
            подготовки и аттестации
            %br
            Приморского морского
            %br
            учебно-тренажерного центра.
            %br
            %br
          %h2
            = icon('chevron-left') 
            Выберите программу обучения