.alert 
  padding: 1em
  padding-right: 2em
  margin-bottom: $line-height-computed
  border: 1px solid transparent
  border-radius: 0

.alert-success
  @include alert-variant(#2e7d32, #2e7d32, #ffffff)

.alert-info
  @include alert-variant(#1565c0, #1565c0, #ffffff)

.alert-warning
  @include alert-variant(#ff9800, #ff9800, #000000)

.alert-danger
  @include alert-variant(#b71c1c, #b71c1c, #ffffff)