body.app
  height: 100%
  background: image_url("login-bg.jpg") no-repeat center center
  background-attachment: fixed

  .outer
    display: table
    position: absolute
    height: 100%
    width: 100%
  
  .middle
    display: table-cell
    vertical-align: middle
  
  .inner
    margin-left: auto
    margin-right: auto
  
  .padding-1
    padding: 1em

  .padding-2
    padding: 2em
  
  .margin-10
    margin: 0 10px 0 0
  
  .form-control
    border-radius: 0
  
  .input-group-addon
    border-radius: 0
    padding: 6px 10px
  
  .text-sm
    font-size: 12px
  
  .text-xs
    font-size: 10px
  
  .help-block
    font-size: 12px