.nav-pills > li > a
  border-radius: 0

  &:hover
    background-color: lighten(#337AB7, 10%) !important

.nav-pills > li.red > a
  border-radius: 0
  background-color: #a80000
  color: white

  &:hover
    background-color: lighten(#a80000, 10%) !important
