.select2-container--bootstrap
  display: block
  width: 100%
  .select2-selection
    background-color: #fff
    border: 1px solid #ccc
    color: #555555
    font-size: 14px
    line-height: 16px
    outline: 0
  .select2-search--dropdown .select2-search__field
    background-color: #fff
    border: 1px solid #ccc
    color: #555555
    font-size: 14px
  .select2-search__field
    outline: 0
    &::-webkit-input-placeholder, &:-moz-placeholder
      color: #999
    &::-moz-placeholder
      color: #999
      opacity: 1
    &:-ms-input-placeholder
      color: #999
  .select2-results__option
    &[role=group]
      padding: 0
    &[aria-disabled=true]
      color: #777777
      cursor: not-allowed
    &[aria-selected=true]
      background-color: #f5f5f5
      color: #262626
  .select2-results__option--highlighted[aria-selected]
    background-color: #1565c0
    color: #fff
  .select2-results__option .select2-results__option
    padding: 6px 12px
    .select2-results__group
      padding-left: 0
    .select2-results__option
      margin-left: -12px
      padding-left: 24px
      .select2-results__option
        margin-left: -24px
        padding-left: 36px
        .select2-results__option
          margin-left: -36px
          padding-left: 48px
          .select2-results__option
            margin-left: -48px
            padding-left: 60px
            .select2-results__option
              margin-left: -60px
              padding-left: 72px
  .select2-results__group
    color: #777777
    display: block
    padding: 6px 12px
    font-size: 12px
    line-height: 1.428571429
    white-space: nowrap
  &.select2-container--open
    .select2-selection
      border-color: #1565c0
      .select2-selection__arrow b
        border-color: transparent transparent #999 transparent
        border-width: 0 4px 4px 4px
    &.select2-container--below .select2-selection
      border-bottom-color: transparent
    &.select2-container--above .select2-selection
      border-top-color: transparent
  &.select2-container--disabled
    .select2-selection, .select2-search__field
      cursor: not-allowed
    .select2-selection, .select2-selection--multiple .select2-selection__choice
      background-color: #eeeeee
    .select2-selection__clear, .select2-selection--multiple .select2-selection__choice__remove
      display: none
  .select2-dropdown
    border-color: #1565c0
    overflow-x: hidden
    margin-top: -1px
    border-radius: 0
  .select2-dropdown--above
    margin-top: 1px
  .select2-results > .select2-results__options
    max-height: 200px
    overflow-y: auto
  .select2-selection--single
    height: 34px
    line-height: 1.428571429
    padding: 6px 24px 6px 12px
    .select2-selection__clear
      color: #999
      cursor: pointer
      float: right
      font-weight: bold
      margin-right: 10px
      &:hover
        color: #333
    .select2-selection__arrow
      position: absolute
      bottom: 0
      right: 12px
      top: 0
      width: 4px
      b
        border-color: #999 transparent transparent transparent
        border-style: solid
        border-width: 4px 4px 0 4px
        height: 0
        left: 0
        margin-left: -4px
        margin-top: -2px
        position: absolute
        top: 50%
        width: 0
    .select2-selection__rendered
      color: #555555
      padding: 3px
    .select2-selection__placeholder
      color: #999
  .select2-selection--multiple
    min-height: 34px
    .select2-selection__rendered
      box-sizing: border-box
      display: block
      line-height: 1.428571429
      list-style: none
      margin: 0
      overflow: hidden
      padding: 0
      width: 100%
      text-overflow: ellipsis
      white-space: nowrap
    .select2-selection__placeholder
      color: #999
      float: left
      margin-top: 5px
    .select2-selection__choice
      color: #555555
      background: #fff
      border: 1px solid #ccc
      cursor: default
      float: left
      margin: 5px 0 0 6px
      padding: 0 6px
    .select2-search--inline .select2-search__field
      background: transparent
      padding: 0 12px
      height: 32px
      line-height: 1.428571429
      margin-top: 0
      min-width: 5em
    .select2-selection__choice__remove
      color: #999
      cursor: pointer
      display: inline-block
      font-weight: bold
      margin-right: 3px
      &:hover
        color: #333
  &.input-sm, &.input-lg
    border-radius: 0
    font-size: 12px
    height: auto
    line-height: 1
    padding: 0
  &.input-sm .select2-selection--single
    font-size: 12px
    height: 30px
    line-height: 1.5
    padding: 5px 22px 5px 10px

.input-group-sm .select2-container--bootstrap .select2-selection--single, .form-group-sm .select2-container--bootstrap .select2-selection--single
  font-size: 12px
  height: 30px
  line-height: 1.5
  padding: 5px 22px 5px 10px

.select2-container--bootstrap.input-sm .select2-selection--single .select2-selection__arrow b, .input-group-sm .select2-container--bootstrap .select2-selection--single .select2-selection__arrow b, .form-group-sm .select2-container--bootstrap .select2-selection--single .select2-selection__arrow b
  margin-left: -5px

.select2-container--bootstrap.input-sm .select2-selection--multiple, .input-group-sm .select2-container--bootstrap .select2-selection--multiple, .form-group-sm .select2-container--bootstrap .select2-selection--multiple
  min-height: 30px

.select2-container--bootstrap.input-sm .select2-selection--multiple .select2-selection__choice, .input-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice, .form-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice
  font-size: 12px
  line-height: 1.5
  margin: 4px 0 0 5px
  padding: 0 5px

.select2-container--bootstrap.input-sm .select2-selection--multiple .select2-search--inline .select2-search__field, .input-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field, .form-group-sm .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field
  padding: 0 10px
  font-size: 12px
  height: 28px
  line-height: 1.5

.select2-container--bootstrap.input-lg .select2-selection--single, .input-group-lg .select2-container--bootstrap .select2-selection--single, .form-group-lg .select2-container--bootstrap .select2-selection--single
  font-size: 18px
  height: 46px
  line-height: 1.3333333
  padding: 10px 31px 10px 16px

.select2-container--bootstrap.input-lg .select2-selection--single .select2-selection__arrow, .input-group-lg .select2-container--bootstrap .select2-selection--single .select2-selection__arrow, .form-group-lg .select2-container--bootstrap .select2-selection--single .select2-selection__arrow
  width: 5px

.select2-container--bootstrap.input-lg .select2-selection--single .select2-selection__arrow b, .input-group-lg .select2-container--bootstrap .select2-selection--single .select2-selection__arrow b, .form-group-lg .select2-container--bootstrap .select2-selection--single .select2-selection__arrow b
  border-width: 5px 5px 0 5px
  margin-left: -5px
  margin-left: -10px
  margin-top: -2.5px

.select2-container--bootstrap.input-lg .select2-selection--multiple, .input-group-lg .select2-container--bootstrap .select2-selection--multiple, .form-group-lg .select2-container--bootstrap .select2-selection--multiple
  min-height: 46px

.select2-container--bootstrap.input-lg .select2-selection--multiple .select2-selection__choice, .input-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice, .form-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-selection__choice
  font-size: 18px
  line-height: 1.3333333
  margin: 9px 0 0 8px
  padding: 0 10px

.select2-container--bootstrap.input-lg .select2-selection--multiple .select2-search--inline .select2-search__field, .input-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field, .form-group-lg .select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field
  padding: 0 16px
  font-size: 18px
  height: 44px
  line-height: 1.3333333

.select2-container--bootstrap.input-lg.select2-container--open .select2-selection--single, .input-group-lg .select2-container--bootstrap.select2-container--open .select2-selection--single
  .select2-selection__arrow b
    border-color: transparent transparent #999 transparent
    border-width: 0 5px 5px 5px

.select2-container--bootstrap[dir="rtl"]
  .select2-selection--single
    padding-left: 24px
    padding-right: 12px
    .select2-selection__rendered
      padding-right: 0
      padding-left: 0
      text-align: right
    .select2-selection__clear
      float: left
    .select2-selection__arrow
      left: 12px
      right: auto
      b
        margin-left: 0
  .select2-selection--multiple
    .select2-selection__choice, .select2-selection__placeholder
      float: right
    .select2-selection__choice
      margin-left: 0
      margin-right: 6px
    .select2-selection__choice__remove
      margin-left: 2px
      margin-right: auto

.has-warning
  .select2-dropdown, .select2-selection
    border-color: #8a6d3b
  .select2-container--open .select2-selection
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b
    border-color: #66512c
  &.select2-drop-active
    border-color: #66512c
    &.select2-drop.select2-drop-above
      border-top-color: #66512c

.has-error
  .select2-dropdown, .select2-selection
    border-color: #dd4b39
  .select2-container--open .select2-selection
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483
    border-color: #843534
  &.select2-drop-active
    border-color: #843534
    &.select2-drop.select2-drop-above
      border-top-color: #843534

.has-success
  .select2-dropdown, .select2-selection
    border-color: #3c763d
  .select2-container--open .select2-selection
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168
    border-color: #2b542c
  &.select2-drop-active
    border-color: #2b542c
    &.select2-drop.select2-drop-above
      border-top-color: #2b542c


.input-group
  .select2-container--bootstrap
    display: table
    table-layout: fixed
    position: relative
    z-index: 2
    float: left
    width: 100%
    margin-bottom: 0
  &.select2-bootstrap-prepend .select2-container--bootstrap .select2-selection
    border-bottom-left-radius: 0
    border-top-left-radius: 0
  &.select2-bootstrap-append .select2-container--bootstrap .select2-selection
    border-bottom-right-radius: 0
    border-top-right-radius: 0


.select2-bootstrap-append, .select2-bootstrap-prepend
  .select2-container--bootstrap
    vertical-align: top
  .input-group-btn
    vertical-align: top
    .btn
      vertical-align: top

.form-control.select2-hidden-accessible
  position: absolute !important