= bootstrap_form_for [:admin, @resource], layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9", label_errors: true, validate: true do |f|
  = f.alert_message "Сохранение не удалось из-за следующих ошибок:"
  .well
    = f.select :user_id, options_from_collection_for_select(User.order(family_name: :asc), :id, :name), {}, class: "select2"
    = f.select :course_id, options_from_collection_for_select(Course.order(name: :asc), :id, :name), {}, class: "select2"
    = f.number_field :ttl
    = f.number_field :max_tests_attempts
  = f.submit class: "btn btn-primary btn-flat"