%section.content-header
  %h1
    = icon('arrow-right')
    Назначение курсов
    %small Открыть доступ пользователю для обучения и прохождения тестов
  %ol.breadcrumb
    %li
      = link_to admin_root_path do
        %i.fa.fa-dashboard
        Панель управления
    %li.active Назначение курсов
%section.content
  = render partial: "partials/alerts"
  .box.box-primary
    .box-body
      %p= link_to icon("plus", "Создать назначение"), new_admin_course_assign_path, class: "btn btn-primary btn-lg btn-flat"
      %table.table.table-bordered.table-striped#courseAssignsTable{data: {source: admin_course_assigns_path(format: :json)}}
        %thead
          %tr
            %th ID
            %th Курс обучения
            %th Пользователь
            %th Длительность курса (дней)
            %th Дата начала обучения
            %th Макс. попыток прохождения тестов
            %th Действия