@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic&subset=latin,cyrillic)

.logo-small
  background: image_url("logo-small.png")
  width: 120px
  height: 120px
  margin-right: 20px


h3, h4
  margin: 0
  line-height: 150%
  padding: 0

#course_description
  padding: 30px

  h1
    color: #bbbbbb
    line-height: 120%
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5)
    text-align: center
  h2
    line-height: 120%
    color: #333333
    text-align: center

#left_side
  h3
    margin-bottom: 20px

.slide-sample
  width: 100% 

  .panel
    background: linear-gradient(to bottom, white, #cfcfcf)
    border: 1px solid transparent
    border-radius: 0
    @include box-shadow(0px 1px 2px rgba(0,0,0,0.5))
    color: #333333
    position: relative
    padding: 30px 80px
    padding-bottom: 80px

    &.headings
      padding: 15px

      h4, h3
        font-family: 'Noto Serif' !important
        margin: 0
        padding: 0

      h3
        margin-bottom: 15px

      h4
        padding-left: 15px


    .content
      min-height: 400px
      padding: 0


    .answers
      border: 1px solid transparent
      border-radius: 0
      @include box-shadow(0px 1px 2px rgba(0,0,0,0.5))
      color: #333333
      position: relative
      margin-top: 30px
      padding: 15px
      padding-bottom: 15px

      &.correct
        background-color: #00A800
        color: white

        p.blue
          color: white

      &.incorrect
        background-color: #a80000
        color: white

        p.blue
          color: white

      p.blue
        color: #1565c0
        font-size: 20px

    
    .cke_textarea_inline
      font-family: 'Noto Serif'

    .placeholder
      text-align: center
      color: #666666

    .footer
      position: absolute
      bottom: 0
      background: #eeeeee
      border-top: 1px solid #aaaaaa
      display: block
      width: 100%
      padding: 15px
      left: 0
      
      a:hover
        text-decoration: none
.sortable
  list-style: none
  margin: 0
  padding: 0

  li
    border: 1px solid #cccccc
    padding: 10px
    margin-bottom: 10px
    background: white
    cursor: pointer