!!!
%html
  %body
    /[if gte mso 9]
      <xml>
      <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
      </xml>
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width", :name => "viewport"}/
    %meta{:content => "IE=9; IE=8; IE=7; IE=EDGE", "http-equiv" => "X-UA-Compatible"}
    %title Восстановление пароля
    %style#media-query
      :cdata
        \#outlook a {
        padding: 0;
        }
        
        \.ExternalClass {
        width: 100%;
        }
        
        \.ExternalClass,
        \.ExternalClass p,
        \.ExternalClass span,
        \.ExternalClass font,
        \.ExternalClass td,
        \.ExternalClass div {
        line-height: 100%;
        }
        
        \#backgroundTable {
        margin: 0;
        padding: 0;
        width: 100% !important;
        line-height: 100% !important;
        }
        
        \.button a {
        display: inline-block;
        text-decoration: none;
        \-webkit-text-size-adjust: none;
        text-align: center;
        }
        
        \.button a div {
        text-align: center !important;
        }
        
        body.outlook p {
        display: inline !important;
        }
        
        @media only screen and (max-width: 500px) {
        table[class="body"] img {
        height: auto !important;
        max-width: 100% !important; }
        table[class="body"] img.fullwidth {
        width: 100% !important; }
        table[class="body"] center {
        min-width: 0 !important; }
        table[class="body"] .container {
        width: 95% !important; }
        table[class="body"] .row {
        width: 100% !important;
        display: block !important; }
        table[class="body"] .wrapper {
        display: block !important;
        padding-right: 0 !important; }
        table[class="body"] .columns, table[class="body"] .column {
        table-layout: fixed !important;
        float: none !important;
        width: 100% !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
        display: block !important; }
        table[class="body"] .wrapper.first .columns, table[class="body"] .wrapper.first .column {
        display: table !important; }
        table[class="body"] table.columns td, table[class="body"] table.column td, .col {
        width: 100% !important; }
        table[class="body"] table.columns td.expander {
        width: 1px !important; }
        table[class="body"] .right-text-pad, table[class="body"] .text-pad-right {
        padding-left: 10px !important; }
        table[class="body"] .left-text-pad, table[class="body"] .text-pad-left {
        padding-right: 10px !important; }
        table[class="body"] .hide-for-small, table[class="body"] .show-for-desktop {
        display: none !important; }
        table[class="body"] .show-for-small, table[class="body"] .hide-for-desktop {
        display: inherit !important; }
        \.mixed-two-up .col {
        width: 100% !important; } }
        @media screen and (max-width: 500px) {
        div[class="col"] {
        width: 100% !important;
        }
        }
        
        @media screen and (min-width: 501px) {
        table[class="block-grid"] {
        width: 500px !important;
        }
        }
    %table.body{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;height: 100%;width: 100%;table-layout: fixed", :width => "100%"}
      %tbody
        %tr{:style => "vertical-align: top"}
          %td.center{:align => "center", :style => "word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;text-align: center;background-color: #FFFFFF", :valign => "top"}
            %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;background-color: #2C2D37", :width => "100%"}
              %tbody
                %tr{:style => "vertical-align: top"}
                  %td{:style => "word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top", :width => "100%"}
                    /[if (gte mso 9)|(IE)]
                      <table width='500' class="ieCell" align="center" cellpadding="0" cellspacing="0" border="0">
                      <tr>
                      <td>
                    %table.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 500px;margin: 0 auto;text-align: inherit", :width => "100%"}
                      %tbody
                        %tr{:style => "vertical-align: top"}
                          %td{:style => "word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top", :width => "100%"}
                            %table.block-grid{:bgcolor => "transparent", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;width: 100%;max-width: 500px;color: #333;background-color: transparent", :width => "100%"}
                              %tbody
                                %tr{:style => "vertical-align: top"}
                                  %td{:style => "word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;text-align: center;font-size: 0"}
                                    /[if (gte mso 9)|(IE)]
                                      <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
                                      <tr>
                                    /[if (gte mso 9)|(IE)] <td class='' valign="top" width='500'>
                                    .col.num12{:style => "display: inline-block;vertical-align: top;width: 100%"}
                                      %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                        %tbody
                                          %tr{:style => "vertical-align: top"}
                                            %td{:style => "word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 20px;padding-right: 0px;padding-bottom: 20px;padding-left: 0px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent"}
                                              %table{:cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                                %tbody
                                                  %tr{:style => "vertical-align: top"}
                                                    %td{:style => "word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;padding-top: 10px;padding-right: 10px;padding-bottom: 0px;padding-left: 10px"}
                                                      %div{:style => "color:#EDEDED;line-height:120%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;"}
                                                        %div{:style => "font-size:18px;line-height:22px;text-align:center;color:#EDEDED;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;"}
                                                          %span{"mce-data-marked" => "1", :style => "font-size:22px; line-height:26px;"}
                                                            %strong
                                                              %span{"data-mce-style" => "line-height: 26px; font-size: 22px;", "mce-data-marked" => "1", :style => "line-height: 26px; font-size: 22px;"} Приморский морской
                                                        %div{:style => "font-size:18px;line-height:22px;text-align:center;color:#EDEDED;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;"}
                                                          %span{"mce-data-marked" => "1", :style => "font-size:22px; line-height:26px;"}
                                                            %strong
                                                              %span{"data-mce-style" => "line-height: 26px; font-size: 22px;", "mce-data-marked" => "1", :style => "line-height: 26px; font-size: 22px;"} учебно-тренажерный центр
                                    /[if (gte mso 9)|(IE)] </td>
                                    /[if (gte mso 9)|(IE)]
                                      </td>
                                      </tr>
                                      </table>
                    /[if (gte mso 9)|(IE)]
                      </td>
                      </tr>
                      </table>
            %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;background-color: transparent", :width => "100%"}
              %tbody
                %tr{:style => "vertical-align: top"}
                  %td{:style => "word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top", :width => "100%"}
                    /[if (gte mso 9)|(IE)]
                      <table width='500' class="ieCell" align="center" cellpadding="0" cellspacing="0" border="0">
                      <tr>
                      <td>
                    %table.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 500px;margin: 0 auto;text-align: inherit", :width => "100%"}
                      %tbody
                        %tr{:style => "vertical-align: top"}
                          %td{:style => "word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top", :width => "100%"}
                            %table.block-grid{:bgcolor => "transparent", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;width: 100%;max-width: 500px;color: #333;background-color: transparent", :width => "100%"}
                              %tbody
                                %tr{:style => "vertical-align: top"}
                                  %td{:style => "word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;text-align: center;font-size: 0"}
                                    /[if (gte mso 9)|(IE)]
                                      <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
                                      <tr>
                                    /[if (gte mso 9)|(IE)] <td class='' valign="top" width='500'>
                                    .col.num12{:style => "display: inline-block;vertical-align: top;width: 100%"}
                                      %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                        %tbody
                                          %tr{:style => "vertical-align: top"}
                                            %td{:style => "word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 30px;padding-right: 0px;padding-bottom: 30px;padding-left: 0px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent"}
                                              %table{:cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                                %tbody
                                                  %tr{:style => "vertical-align: top"}
                                                    %td{:style => "word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;padding-top: 0px;padding-right: 10px;padding-bottom: 15px;padding-left: 10px"}
                                                      %div{:style => "color:#555555;line-height:120%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;"}
                                                        %div{:style => "font-size:14px;line-height:17px;text-align:center;color:#555555;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;"}
                                                          %span{"mce-data-marked" => "1", :style => "font-size:24px; line-height:29px;"}
                                                            %strong
                                                              %span{"data-mce-style" => "font-family: arial, helvetica, sans-serif; line-height: 28px; font-size: 24px;", "mce-data-marked" => "1", :style => "font-family: arial, helvetica, sans-serif; line-height: 28px; font-size: 24px;"} Регистрация аккаунта
                                              %table{:cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                                %tbody
                                                  %tr{:style => "vertical-align: top"}
                                                    %td{:style => "word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;padding-top: 5px;padding-right: 10px;padding-bottom: 0px;padding-left: 10px"}
                                                      %div{:style => "color:#777777;line-height:120%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;"}
                                                        %div{:style => "font-size:14px;line-height:17px;color:#777777;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;"}
                                                          %span{:style => "font-size:20px; line-height:24px;"}
                                                            = "Здравствуйте, #{@resource.name}!"
                                              %table{:cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                                %tbody
                                                  %tr{:style => "vertical-align: top"}
                                                    %td{:style => "word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;padding-top: 15px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px"}
                                                      %div{:style => "color:#555555;line-height:120%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;"}
                                                        %div{:style => "font-size:14px;line-height:17px;color:#555555;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;"}
                                                          %p{:style => "margin: 0;font-size: 14px;line-height: 17px"} Для завершения регистрации, подтвердите ваш аккаунт, кликнув по ссылке:
                                              %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                                %tbody
                                                  %tr{:style => "vertical-align: top"}
                                                    %td.button-container{:align => "center", :style => "word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;padding-top: 15px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px"}
                                                      %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                                        %tbody
                                                          %tr{:style => "vertical-align: top"}
                                                            %td.button{:align => "center", :style => "word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;height: 17px;text-align: center", :valign => "middle", :width => "100%"}
                                                              %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                                                %tbody
                                                                  %tr{:style => "vertical-align: top"}
                                                                    %td{:align => "center", :style => "word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top", :width => "202"}
                                                                      /[if mso]
                                                                        <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href=''
                                                                        style='
                                                                        height:42px;
                                                                        v-text-anchor:middle;
                                                                        width:202px;'
                                                                        arcsize='0%'
                                                                        strokecolor='#C7702E'
                                                                        fillcolor='#C7702E' >
                                                                        <w:anchorlock/>
                                                                        <center
                                                                        style='color:#ffffff;
                                                                        font-family:Arial, &#39;Helvetica Neue&#39;, Helvetica, sans-serif;
                                                                        font-size:16px'>
                                                                      / [if !mso]><!- -
                                                                      %div{:align => "center", :style => "display: inline-block;\n              border-radius: 0px; \n              -webkit-border-radius: 0px; \n              -moz-border-radius: 0px; \n              max-width: 100%;\n              width: auto;                      \n              border-top: 0px solid transparent;\n              border-right: 0px solid transparent;\n              border-bottom: 0px solid transparent;\n              border-left: 0px solid transparent;"}
                                                                        %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                                                          %tbody
                                                                            %tr{:style => "vertical-align: top"}
                                                                              %td{:style => "word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;border-radius: 0px;                     -webkit-border-radius: 0px;                     -moz-border-radius: 0px;                    color: #ffffff;                    background-color: #C7702E;                    vertical-align: middle;                     padding-top: 5px;                     padding-right: 20px;                    padding-bottom: 5px;                    padding-left: 20px;                    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align: center"}
                                                                                / <![endif]
                                                                                %a{:href => confirmation_url(@resource, confirmation_token: @token), :style => "display: block;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;background-color: #C7702E;color: #ffffff;line-height: 17px", :target => "_blank"}
                                                                                  / [if !mso]><!- -
                                                                                  %p{"data-mce-style" => "font-family: inherit; font-size: 16px; line-height: 32px;", :style => "margin: 0;font-family: inherit;font-size: 16px;line-height: 32px"}
                                                                                    Подтвердить мой аккаунт
                                                                                    %br/
                                                                                  / <![endif]
                                                                                  /[if mso]
                                                                                    Подтвердить мой аккаунт
                                                                                / [if !mso]><!- -
                                                                      / <![endif]
                                                                      /[if mso]
                                                                        </center>
                                                                        </v:roundrect>
                                                              %div
                                    /[if (gte mso 9)|(IE)] </td>
                                    /[if (gte mso 9)|(IE)]
                                      </td>
                                      </tr>
                                      </table>
                    /[if (gte mso 9)|(IE)]
                      </td>
                      </tr>
                      </table>
            %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;background-color: #444444", :width => "100%"}
              %tbody
                %tr{:style => "vertical-align: top"}
                  %td{:style => "word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top", :width => "100%"}
                    /[if (gte mso 9)|(IE)]
                      <table width='500' class="ieCell" align="center" cellpadding="0" cellspacing="0" border="0">
                      <tr>
                      <td>
                    %table.container{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;max-width: 500px;margin: 0 auto;text-align: inherit", :width => "100%"}
                      %tbody
                        %tr{:style => "vertical-align: top"}
                          %td{:style => "word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top", :width => "100%"}
                            %table.block-grid{:bgcolor => "transparent", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top;width: 100%;max-width: 500px;color: #333;background-color: transparent", :width => "100%"}
                              %tbody
                                %tr{:style => "vertical-align: top"}
                                  %td{:style => "word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;text-align: center;font-size: 0"}
                                    /[if (gte mso 9)|(IE)]
                                      <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
                                      <tr>
                                    /[if (gte mso 9)|(IE)] <td class='' valign="top" width='500'>
                                    .col.num12{:style => "display: inline-block;vertical-align: top;width: 100%"}
                                      %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                        %tbody
                                          %tr{:style => "vertical-align: top"}
                                            %td{:style => "word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;background-color: transparent;padding-top: 25px;padding-right: 0px;padding-bottom: 25px;padding-left: 0px;border-top: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent"}
                                              %table{:cellpadding => "0", :cellspacing => "0", :style => "border-spacing: 0;border-collapse: collapse;vertical-align: top", :width => "100%"}
                                                %tbody
                                                  %tr{:style => "vertical-align: top"}
                                                    %td{:style => "word-break: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;border-collapse: collapse !important;vertical-align: top;padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px"}
                                                      %div{:style => "color:#bbbbbb;line-height:120%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;"}
                                                        %div{:style => "font-size:12px;line-height:14px;color:#bbbbbb;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;"}
                                                          %p{:style => "margin: 0;font-size: 12px;line-height: 14px"} Негосударственное образовательное учреждение среднего профессионального образования "Приморский морской учебно-тренажерный центр"
                                                        %div{:style => "font-size:12px;line-height:14px;color:#bbbbbb;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;"}
                                                          %br{"data-mce-bogus" => "1"}/
                                                        %div{:style => "font-size:12px;line-height:14px;color:#bbbbbb;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;"}
                                                          %p{:style => "margin: 0;font-size: 12px;line-height: 14px"} Адрес: Россия, 690017, г.Владивосток, ул. Героев-Тихоокеанцев 5А
                                                        %div{:style => "font-size:12px;line-height:14px;color:#bbbbbb;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;"}
                                                          Тел.: 8 (908) 449-31-17,
                                                          %br>/
                                                          8 (423) 293-95-63
                                                        %div{:style => "font-size:12px;line-height:14px;color:#bbbbbb;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;"}
                                                          %p{:style => "margin: 0;font-size: 12px;line-height: 14px"} Время работы: Ежедневно, с 9-00 до 17-00
                                    /[if (gte mso 9)|(IE)] </td>
                                    /[if (gte mso 9)|(IE)]
                                      </td>
                                      </tr>
                                      </table>
                    /[if (gte mso 9)|(IE)]
                      </td>
                      </tr>
                      </table>