%section.content-header
  %h1
    = icon('users')
    Пользователи
    %small Проходящие обучение
  %ol.breadcrumb
    %li
      = link_to admin_root_path do
        %i.fa.fa-dashboard
        Панель управления
    %li.active Пользователи
%section.content
  = render partial: "partials/alerts"
  .box.box-primary
    .box-body
      %p= link_to icon("plus", "Создать пользователя"), new_admin_user_path, class: "btn btn-primary btn-lg btn-flat"
      %table.table.table-bordered.table-striped#usersTable{data: {source: admin_users_path(format: :json)}}
        %thead
          %tr
            %th ID
            %th E-mail
            %th Ф.И.О.
            %th Дата рождения
            %th Телефон
            %th Действия
