%section.content-header
  %h1
    = @resource.model_name.human(count: 1.1)
    %small= t("activerecord.models.#{@resource.model_name.to_s.underscore}.description")
  %ol.breadcrumb
    %li
      = link_to admin_root_path do
        %i.fa.fa-dashboard
        Панель управления
    %li
      = link_to polymorphic_path([:admin, @resource]) do
        = @resource.model_name.human(count: 1.1)
    %li.active Редактирование
%section.content
  = render partial: "partials/alerts"
  .box.box-primary
    .box-body
      = render 'form'