%section.content-header
  %h1
    Работает
    %small Optional description
  %ol.breadcrumb
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        Level
    %li.active Here
%section.content
  = render partial: "partials/alerts"