= bootstrap_form_for [:admin, @resource], layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9", label_errors: true, validate: true do |f|
  = f.alert_message "Сохранение не удалось из-за следующих ошибок:"
  .well
    = f.text_field :name
    = f.text_area :description
    = f.collection_check_boxes :section_ids, Section.all, :id, :name
  = f.submit class: "btn btn-primary btn-flat"