%section.content-header
  %h1
    = icon('folder-open')
    Курсы обучения
    %small Пакеты обучения, назначаемые пользователю
  %ol.breadcrumb
    %li
      = link_to admin_root_path do
        %i.fa.fa-dashboard
        Панель управления
    %li.active Курсы обучения
%section.content
  = render partial: "partials/alerts"
  .box.box-primary
    .box-body
      %p= link_to icon("plus", "Создать курс"), new_admin_course_path, class: "btn btn-primary btn-lg btn-flat"
      %table.table.table-bordered.table-striped#coursesTable{data: {source: admin_courses_path(format: :json)}}
        %thead
          %tr
            %th ID
            %th Название
            %th Описание
            %th Действия