%section.content-header
  %h1
    = @resource.model_name.human(count: 1).mb_chars.capitalize
    = "##{@resource.id}"
    %small Просмотр
  %ol.breadcrumb
    %li
      = link_to admin_root_path do
        %i.fa.fa-dashboard
        Панель управления
    %li
      = link_to polymorphic_path([:admin, @resource]) do
        = @resource.model_name.human(count: 1.1)
    %li.active= "##{@resource.id}"
%section.content
  = render "partials/alerts"
  .box.box-primary
    .box-body
      %table.table.table-bordered.table-striped{style: "width: 100%"}
        %tr
          %td{style: "width: 25%"} ID
          %td
            = @resource.id
        %tr
          %td{style: "width: 25%"} Название курса обучения
          %td
            = @resource.name
        %tr
          %td{style: "width: 25%"} Описание курса обучения
          %td
            = @resource.description
        %tr
          %td{style: "width: 25%"} Разделы
          %td
            - @resource.sections.each do |section|
              %p= section.name
        %tr
          %td{style: "width: 25%"} Создан
          %td
            = @resource.created_at
        %tr
          %td{style: "width: 25%"} Обновлен
          %td
            = @resource.updated_at
      %br
      %p
        = link_to "Редактировать", edit_admin_course_path(@resource.id), class: "btn btn-warning"
        = link_to "Удалить", admin_course_path(@resource.id), data: { method: :delete, confirm: "Вы уверены?" }, class: "btn btn-danger"