!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
    %title ПМУТЦ - Панель управления
    = csrf_meta_tags
    = stylesheet_link_tag    'admin', media: 'all'
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    = javascript_include_tag 'jquery', 'bootstrap'
  %body.hold-transition.skin-purple
    .wrapper
      %header.main-header
        = link_to root_path, class: "logo" do
          %span.logo-mini ПМУТЦ
          %span.logo-lg
            %strong ПМУТЦ
        %nav.navbar.navbar-static-top{:role => "navigation"}
          %a.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
            %span.sr-only Панель навигации
          .navbar-custom-menu
            %ul.nav.navbar-nav
              %li.dropdown.user.user-menu
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  = gravatar_image_tag current_admin_user.email, :gravatar => { :default => :identicon }, class: "user-image", alt: current_admin_user.email
                  %span.hidden-xs= current_admin_user.email
                %ul.dropdown-menu
                  %li.user-header
                    = gravatar_image_tag current_admin_user.email, :gravatar => { :default => :identicon }, class: "img-circle", alt: current_admin_user.email
                    %p
                      = current_admin_user.email
                  %li.user-footer
                    .pull-left
                      = link_to "Профиль", edit_admin_admin_user_path(current_admin_user.id), class: "btn btn-default btn-flat"
                    .pull-right
                      = link_to "Выход", destroy_admin_user_session_path, class: "btn btn-default btn-flat"
      %aside.main-sidebar
        %section.sidebar
          .user-panel
            .pull-left.image
              = gravatar_image_tag current_admin_user.email, :gravatar => { :default => :identicon }, class: "img-circle", alt: current_admin_user.email
            .pull-left.info
              %p= current_admin_user.email
          %ul.sidebar-menu
            %li.header НАВИГАЦИЯ
            %li.treeview
              = link_to  admin_course_assigns_path do
                %i.fa.fa-arrow-right
                %span Назначения курсов
            %li.treeview.active
              %a{:href => "#"}
                %i.fa.fa-folder-open
                %span Программы обучения
                %i.fa.fa-angle-down.pull-right
              %ul.treeview-menu
                %li= link_to "Курсы обучения", admin_courses_path
                %li= link_to "Разделы", admin_sections_path
                %li= link_to "Слайды и вопросы", admin_items_path
            %li.treeview
              = link_to  admin_users_path do
                %i.fa.fa-users
                %span Пользователи
            %li.treeview
              = link_to  admin_admin_users_path do
                %i.fa.fa-gear
                %span Администраторы
      .content-wrapper
        = yield
      %footer.main-footer
        .pull-right.hidden-xs
        В случае проблем, обращайтесь к разработчику по адресу:
        %strong
          %a{:href => "mailto:8447@bk.ru"} 8447@bk.ru
    = javascript_include_tag 'admin'