!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %title Приморский морской учебно-тренажерный центр
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
    %meta{name: "description", content: "База документов"}
    = stylesheet_link_tag 'application', media: 'all'
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    = csrf_meta_tags
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body.app
    .padding-2
      .panel.padding-1
        = link_to root_path do
          .logo-small.pull-left
        .pull-left
          %h1
            Приморский морской
            %br/
            учебно-тренажерный центр
        .text-right.pull-right
          %h4
            Добро пожаловать,
            %br
            = current_user.name + '!'
            = link_to icon('sign-out'), destroy_user_session_path, title: "Выход"
        .clearfix
    = yield
    = javascript_include_tag 'application'